.video_list{
    display: flex;
    flex-wrap: wrap;
    padding: 80px 10%;
}

.list_item{
    width: 140px;
    background-color: white;
    border-radius: 8px;
    padding: 10px 24px;
    margin: 20px 16px 0 0;
    cursor: pointer;
}